.cards{
}

.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(302px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 1pc 0 hsla(0,0%,47%,.16);
  box-shadow: 0 4px 1pc 0 hsla(0,0%,47%,.16);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 20%;
  height: auto;
  display: inline-block;
  left: -5px;
  position: relative;
  top: -13px;
}
.cards.demo-cards > ul > li img {
  width: 100%;
  height: auto;
  display: inline-block;
  left: -5px;
  position: relative;
  top: -13px;
}
