.columns > div {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color:#var(--text-color);
}

.columns img {
  width: 100%;
}
.columns.block {

  margin-top: 60px;
}
.columns.disclaimer  {
  margin-top:0;
  font-size: 12px;
  padding: 10px;
  position:relative;
  bottom: 5px;
  margin-top:5px;

}
.columns.gattex button {

  margin: 0 2rem 1.5rem 0;
  background-color: #e19228;
  border-radius: 1.8rem;
  vertical-align: middle;
  padding: 0.8rem 5rem 0.8rem 2.5rem;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.4rem;
  transition: all 0.3s ease;
  border: 1px solid #e19228;
  min-width: 1rem;
  font-weight: 500;
  font-family: "Barlow", Arial, sans-serif;
  text-transform: uppercase;
  text-align: left;
  display: inline-block;
  position: relative;
}

.columns.disclaimer :nth-child(1){
  background-color: #f2ecff;
  -webkit-box-shadow: 0 4px 1pc 0 hsla(0,0%,47%,.16);
  box-shadow: 0 4px 1pc 0 hsla(0,0%,47%,.16);
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: normal;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
    margin-left: 60px;
  }
}
