.columns > div {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color:#var(--text-color);
}

.columns img {
  width: 100%;
}
.columns.block {

  margin-top: 60px;
}
.columns.disclaimer  {
  margin-top:0;
  font-size: 12px;
  padding: 10px;
  position:relative;
  bottom: 5px;
  margin-top:5px;

}

.columns.disclaimer :nth-child(1){
  background-color: #f2ecff;
  -webkit-box-shadow: 0 4px 1pc 0 hsla(0,0%,47%,.16);
  box-shadow: 0 4px 1pc 0 hsla(0,0%,47%,.16);
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
