.accordion {
    background: #dedede;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.accordion-container .default-content-wrapper{

  background-color: #444444;
  border:1px solid #fff;
  color:#fff;
  text-align: center;

}

.accordion-container .default-content-wrapper h2{
    margin-top:15px;
    margin-bottom:15px;
    font-size:18px;
    font-weight: 300;
}

.item-title {
    cursor: pointer;
    padding: 12px;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #dedede;
    color:#000;
}

.item-title::after {
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #a7a7a7;
    border-right: 2px solid #a7a7a7;
    transform-origin: 75% 75%;
    transform: rotate(-45deg) translateY(-50%);
    transition: transform .1s ease;
    content: '';
}

.item-title.open {
    background: #dedede;
    color:#151515

}

.item-title.open::after {
    transform: rotate(-135deg) translateX(50%);
}

.item-content {
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

.item-title.open + .item-content {
    display: grid;
}
