
/* block specific CSS goes here */
.two-column-hero > div {
  display: flex;
  flex-direction: column;
  background-color: #28325A;
  color:#ffffff;
}

.two-column-hero img {
  width: 100%;
}

.two-column-hero > div > div {
  order: 1;
}

.two-column-hero > div > .two-column-hero-img-col {
  order: 0;
}

.two-column-hero > div > .two-column-hero-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .two-column-hero > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .two-column-hero > div > div {
    flex: 1;
    order: unset;
  }
}
