.table {
  width: 100%;
  overflow-x: auto;
  border-radius: 10px;
overflow: hidden;
box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
-moz-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
-webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,.15); 
-o-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
-ms-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
}

.table table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: var(--body-font-size-xs);
}

@media (min-width: 600px) {
  .table table {
    font-size: var(--body-font-size-s);
  }
}

@media (min-width: 900px) {
  .table table {
    font-size: var(--body-font-size-m);
  }
}
.table table thead th{

  background-color: #7c45ff;
  color:#ffffff;
}
.table table thead tr {
  border-top: 2px solid;
background-color:  #dedede;
}

.table table tbody tr:nth-child(even)
{
  font-weight: 700;
  background-color: #f8f6ff;
}

.table table th, .table table td {
  padding: 8px 16px;
  text-align: left;
}

/* striped variant */
.table.striped tbody tr:nth-child(odd) {
  background-color:  #efefef;
}

/* bordered variant */
.table.bordered table th, .table.bordered table td {
  border: 1px solid;
}
