footer {
  padding: 2rem;
  background-color: #333b41;
  font-size: var(--body-font-size-s);
  color:#ffffff;

}
.columns.footer :nth-child(1)  :nth-child(1) ul {
  background-color: #333b41;
  float:right;
  margin-bottom: 30px;
}
/* content box */
.columns.footer :nth-child(2)  :nth-child(1) {
clear:right;

}

.footer img{
width:167px;
height:70px;

}
.footer ul{
    display: inline;
    margin: auto;
}
.footer li {
  display: inline;
  margin: 20px;
  color:  var(--link-color-footer);
}

.footer li a {

  color:  var(--link-color-footer);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}
footer .sideButton{

  color: #002a25;
background-color: #669900;
width: 35px;
text-decoration: none;
font-size: 16px;
height: 260px;
font-family: sans-serif;
letter-spacing: 0;
opacity: 1;
display: flex;
writing-mode: vertical-lr;
writing-mode: tb-lr;
vertical-align: middle;
line-height: 2em;
justify-content: center;
position: fixed;
top: 50%;
right: 0;
margin-top: -130px;
z-index: 995;
font-weight: bold;
}
