footer {
  padding: 2rem;
  background-color: #333b41;
  font-size: var(--body-font-size-s);
  color:#ffffff;

}
.columns.footer :nth-child(1)  :nth-child(1) ul {
  background-color: #333b41;
  float:right;
  margin-bottom: 30px;
}
/* content box */
.columns.footer :nth-child(2)  :nth-child(1) {
clear:right;

}

.footer img{
width:167px;
height:70px;

}
.footer ul{
    display: inline;
    margin: auto;
}
.footer li {
  display: inline;
  margin: 20px;
  color:  var(--link-color-footer);
}

.footer li a {

  color:  var(--link-color-footer);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}
